@{
    Layout = "~/Views/Layouts/_LayoutClean.cshtml";
    ViewBag.NomePagina = "Portal";
    var colClassCount = 6;
    var sistemasUsuario = ControleDeAcesso.ObterConjuntoDePermissoesUsuario(HttpContext.Current.Session);
    var colCount = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(Convert.ToDecimal(sistemasUsuario.SistemasPermitidos.Count) / Convert.ToDecimal(colClassCount))));
}
@Html.Partial("~/Views/Paginas/Portal/Partials/_IndexStyle.cshtml")
@Html.AntiForgeryToken()
<div id="mainContainer" class="col-lg-12 inner-background">

    @{
        for (var i = 0; i < colCount; i++)
        {
            <div class="row" style="padding-top: 8% !important;">
                @GenerateRows(sistemasUsuario.SistemasPermitidos.Skip(i).Take(colClassCount).ToList())
            </div>
        }
    }

    @helper GenerateRows(List<ControleDeAcessoTO.ObterSistemasPermitidos> SistemasPermitidos)
    {
    <div class="col-md-3"></div>
foreach (var itm in SistemasPermitidos)
{
        <div class="col-md-1 btnSistema" codsisinf="@itm.CODSISINF">
            <table class="link-smart">
                <tr>
                    <td class="link-smart-icon">
                        @if (string.IsNullOrEmpty(itm.DESIMGSISINF))
                        {
                            <i class="fa fa-money" aria-hidden="true"></i>
                        }
                        else
                        {
                            <img src="data:image/png;base64, @itm.DESIMGSISINF" alt="Sistema" />
                        }
                    </td>
                </tr>
                <tr>
                    <td class="link-smart-description">
                        @itm.DESSISINF
                    </td>
                </tr>
            </table>
        </div>
}
    <div class="col-md-3"></div>
}
</div>
<center>
    <a href="@Url.Content("~/api/Login/Deslogar")">
        <table class="link-smart">
            <tr>
                <td class="link-smart-description">
                    <span>Sair</span>

                </td>
            </tr>
        </table>
    </a>
</center>
@Html.Partial("~/Views/Paginas/Portal/Partials/_IndexScript.cshtml")
