<!DOCTYPE html>
<html lang="pt-br">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Portal Smart</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="var(--main-color)" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for rowreorder extension demos" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="@Url.Content("~/assets/global/plugins/open-sans-gh-pages/open-sans.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/assets/global/css/components.min.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/plugins.min.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/assets/layouts/layout/css/custom.css")?v=@Arquitetura.Classes.Util.timeStampSystemUp" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="@Url.Content("~/assets/layouts/layout/img/favicon.ico")?v=@Arquitetura.Classes.Util.timeStampSystemUp" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-fixed page-sidebar-closed-hide-logo page-content-white">
    <!-- SCRIPTS -->
    <!--[if lt IE 9]>
        <script src="@Url.Content("~/assets/global/plugins/respond.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp"></script>
        <script src="@Url.Content("~/assets/global/plugins/excanvas.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp"></script>
        <script src="@Url.Content("~/assets/global/plugins/ie8.fix.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="@Url.Content("~/assets/global/plugins/jquery.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/localization/messages_pt_BR.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-validation/js/additional-methods.min.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ValidationFactory.component.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.AJAXFactory.component.js")?v=@Arquitetura.Classes.Util.timeStampSystemUp" type="text/javascript"></script>
    @Html.Partial("~/Views/Global/GlobalScriptClean.cshtml")
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="container smart-nav-bar">
            <table style="width: 100%;">
                <tr>
                    <td class="smart-nav-side">
                        @*<button class="smart-top-btn" id="btnReload">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>*@
                        @*<i class="fa fa-ellipsis-v smart-portal-split" aria-hidden="true"></i>*@
                        <span class="smart-portal-label">PORTAL SMART</span>
                    </td>
                    <td class="text-center">
                        <img src="@Url.Content("~/assets/layouts/layout/img/LogoSmart.svg")"  alt="logo" class="smart-img-logo" />
                    </td>
                    <td class="smart-nav-side text-right">
                        @*<button class="smart-top-btn">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </button>*@
                        @*<i class="fa fa-ellipsis-v smart-portal-split" aria-hidden="true"></i>*@
                        <span class="smart-menu-selector" id="spnMenuShow" title="Visualizar Menu">
                            <span class="smart-perfil">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </span>
                            <span class="smart-portal-label smart-label-perfil" id="spnNomFnc">
                                @ControleDeAcesso.ObterConjuntoDePermissoesUsuario(HttpContext.Current.Session).InformacoesUsuario.NOMFNC
                            </span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTAINER -->
    </div>
</body>
</html>